<div class="jumbotron jumbotron-fluid">
  <div class="custom-container custom-bg-dark">
    <h1 class="display-6 custom-title">
      <mat-icon>view_list</mat-icon> Movimentações
    </h1>
    <p class="lead-1 custom-lead">Listagem das movimentações por correntista</p>
  </div>
  <div class="container">
    <div class="input-group my-4">
      <select id="iCorrentista" [(ngModel)]="correntista" class="form-select">
        <option *ngFor="let c of correntistas" [ngValue]="c">{{c.cpf}}-{{c.nome}}</option>
      </select>
      <button class="btn me-md-2 btn-right-border custom-btn-primary" type="button"
        (click)="listMovimentacoes()">Buscar</button>
      <a class="btn custom-btn-secondary" routerLink="/movimentacoes-new">
        <mat-icon>playlist_add</mat-icon> Nova
        Movimentação
      </a>
      <a class="btn custom-btn-secondary" routerLink="/correntistas">
        <mat-icon>person</mat-icon> Correntistas
      </a>
    </div>
    <div class="custom-table custom-bg-light-gradient">
      <table class="table" style="color:#23362B">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Data Hora</th>
            <th scope="col">Descrição</th>
            <th scope="col">Valor</th>
            <th scope="col">Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of movimentacoes; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ item.dataHora | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
            <td>{{ item.descricao }}</td>
            <td [ngStyle]="{'color':item.tipo === 'RECEITA' ? 'blue' : 'red'}">{{ item.valor | currency:'BRL' }}</td>
            <td [ngStyle]="{'color':item.tipo === 'RECEITA' ? 'blue' : 'red'}">{{ item.tipo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>