::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #23362b;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #23362b;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #23362b;
}

.card { background-color:#A4C189; }

.card-body {
    cursor: default;
    border-radius: 5px;
    border: 1px solid #A4C189;
}